.footer{
    display:flex;
    width: 100%;
    background-color: black;
    padding: 1em;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
}

.logo-container{
    flex:0.1;
}

.footer-link{
    color:white;
}

.footer-link:hover{
    color:darkblue;
}

.logo:hover{
    cursor: pointer;
}

.footer-animate{
    opacity: 0;
}

.logo > img{
    width: 100%;
}

@media (max-width: 1024px) {
    .logo-container{
        flex:0.3;
    }
}