<div [ngClass]="{
    'footer':true,
    'footer-animate':isAnimate    
    }">
    <div class="logo-container">
        <a class="logo" (click)="homeClicked($event)">
            <img src="assets/WholeLogoWhite.png" alt="jaded by logo"/>
        </a>
    </div>
    <div >
        <a class="footer-link" href="#">
            Resume
        </a>
    </div>
    <div>
        <a class="footer-link" href="#" (click)="sectionClicked('about',$event)">
            About
        </a>
    </div>
    <div>
        <a class="footer-link" href="#" (click)="sectionClicked('gallery',$event)">
            Gallery
        </a>
    </div>
    <div>
        <a class="footer-link" href="mailto:jaded.bye@gmail.com">
            Contact
        </a>
    </div>
</div>