.home-section{
    margin-bottom: 10em;
}

.button-container{
    margin: 1em;
    margin-bottom: 8em;
}

.inner-home-section{
    padding-top: 8em;
}

.inner-row{
    padding-top: 5em;
}

::ng-deep .card{
    position: relative;
}

::ng-deep .card-self{
    left:4em;
}

::ng-deep .thank-card{
    left:6em;
}

::ng-deep .welcome-card{
    width:75%;
    margin:auto;
}

::ng-deep .portrait-card{
    width:50%;
    margin:auto;
    top:-17em;
}

@media (max-width: 1080px) {
    ::ng-deep .card{
        position: static;
    }
}