.home-section{
    margin-bottom: 1em;
}

.button-container{
    margin: 1em;
    margin-bottom: 8em;
}

.inner-home-section{
    padding-top: 8em;
}

.inner-row{
    padding-top: 3em;
}

.email-contact{
    border-bottom: 2px dotted;
}

.contact-container{
    display: flex;
    flex-direction: column;
    padding: 4em;
}

::ng-deep .logo-pdf{
    margin: auto;
    width: 75%;
    left: 5em;
    top: 4em;
}

::ng-deep .posters-pdf{
    margin: auto;
    width: 50%;
    top: -10em;
    left: 5em;
}

::ng-deep .illustration-pdf{
    margin: auto;
    left: 7em;
}

::ng-deep .card-self{
    left:4em;
}

::ng-deep .thank-card{
    left:6em;
}

::ng-deep .welcome-card{
    width:75%;
    margin:auto;
}

::ng-deep .portrait-card{
    width:50%;
    margin:auto;
    top:-17em;
}

::ng-deep .gallery-card{
    left: 4em;
    margin: auto;
    top: 4em;
}
