<div class="home-section" aria-label="home section">
    <div class="home-section row">
        <div class="col-lg-6 col-md-12 drag-container">
            <div>
                <app-jaded-drag-card [cardHeaderText]="'WELCOME.PNG'" [customStyles]="{
                    'width':'65%',
                    'margin':'auto'
                }">
                    <div>
                        <img class="jaded-img" src="assets/illustrations/Plant_palette.png">
                    </div>
                </app-jaded-drag-card>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 drag-container">
            <div class='button-container'>
                <app-jaded-button buttonText="About" (clicked)="aboutClicked($event)"></app-jaded-button>
            </div>
            <div class='button-container'>
                <app-jaded-button buttonText="Gallery" (clicked)="galleryClicked($event)"></app-jaded-button>
            </div>
        </div>
    </div>
    <div class="row home-section inner-home-section" id="about">
        <div class="col-lg-4 col-md-12">
            <app-jaded-drag-card [cardHeaderText]="'WELCOME.PNG'" size="large" [cardClasses]="{
                'card':true,
                'card-self':true
            }">
                <div>
                    <img class="jaded-img" src="assets/about/About_Correct_Colour.png">
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-8 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'WELCOME.PNG'" [cardClasses]="{
                'card':true,
                'welcome-card':true
            }">
                <div class="text-container">
                    <p class="jaded-para">Hi I'm Jade</p>
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-4 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'THANK YOU'" size="large" [cardClasses]="{
                'card':true,
                'thank-card':true
            }">
                <div class="text-container">
                    <p class="jaded-para">For visiting my portfolio</p>
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-8 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'PORTRAIT.PNG'" [cardClasses]="{
                'card':true,
                'portrait-card':true
            }">
                <div>
                    <img class="jaded-img" src="assets/about/Jade.png">
                </div>
            </app-jaded-drag-card>
        </div>
    </div>
    <div class="row home-section inner-row" id="gallery">
        <div class="col-lg-4 col-md-12">
            <app-jaded-drag-card size="large" [cardHeaderText]="'GALLERY'" [cardClasses]="{
                'card':true,
                'gallery-card':true
            }">
                <div>
                    <p>placeholder</p>
                    <img class="jaded-img" src="assets/logos/MBSP.png">
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-6 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'LOGO.PDF'" [cardClasses]="{
                'card':true,
                'logo-pdf':true
            }">
                <div>
                    <img class="jaded-img" src="assets/logos/Ruby_Solutions.png">
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-4 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'ILLUSTRATION.PDF'" size="large" [cardClasses]="{
                'card':true,
                'illustration-pdf':true
            }">
                <div>
                    <img class="jaded-img" src="assets/illustrations/Comission_1.png">
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-8 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'POSTERS.PDF'" [cardClasses]="{
                'card':true,
                'posters-pdf':true
            }">
                <div>
                    <img class="jaded-img" src="assets/posters/meatless_monday.png">
                </div>
            </app-jaded-drag-card>
        </div>
        <div class="col-lg-8 col-md-12 inner-row">
            <app-jaded-drag-card [cardHeaderText]="'POSTERS.PDF'" [cardClasses]="{
                'card':true,
                'posters-pdf':true
            }">
                <div>
                    <img class="jaded-img" src="assets/products/LLF.png">
                </div>
            </app-jaded-drag-card>
        </div>
    </div>
    <div class="row home-section inner-row justify-content-center" id="contact">
        <div class="col-xs-12">
            <app-jaded-drag-card  [cardHeaderText]="'CONTACT'" [cardClasses]="{
                'card':true
            }">
                <div class="contact-container">
                    <span>Email: <a class="email-contact" href="mailto:jaded.bye@gmail.com">jaded.bye@gmail.com</a></span> 
                </div>
            </app-jaded-drag-card>
        </div>
    </div>
</div>