<nav class="navbar jaded-nav">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    
    <div class="jade-nav-content">
        <a class="navbar-brand jaded-icon" routerLink="/home">
            <img src="https://d33wubrfki0l68.cloudfront.net/ca0061c3c33c88b2b124e64ad341e15e2a17af49/c8765/images/alligator-logo3.svg" alt="jaded by logo"/>
        </a>
      <div>
        <button mat-icon-button class="home" aria-label="home icon">
            <mat-icon class="home-icon">home</mat-icon>
        </button>
      </div>
    </div>
  </nav>