<nav [ngClass]="{
      'navbar': true,
      'fixed-top':true,
      'jaded-nav':true,
      'animate-nav':isAnimate
    }">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    
    <div class="jade-nav-content">
        <a class="navbar-brand jaded-icon" routerLink="/home">
            <img src="assets/WholeLogoWhite.png" alt="jaded by logo"/>
        </a>
      <div>
        <button mat-icon-button class="home" aria-label="home icon">
            <mat-icon class="home-icon">home</mat-icon>
        </button>
      </div>
    </div>
  </nav>