.card-spacing{
    padding-top: 3em;
}

.description{
    padding: 2em;
    font-size: 1.2em;
}

::ng-deep .base-card{
    width:80%;
}

::ng-deep .soup-card{
    left: 2em;
    top: -4em;
}


::ng-deep .choco-card{
    left:7em;
    top: -25em;
}

::ng-deep .quiver-card{
    left: 5em;
    top: -8em;
}

::ng-deep .ruby-card{
    top: -15em;
    left: 10em;
}


::ng-deep .wreath-card{
    top: -20em;
    left: 20em;
}


::ng-deep .snack-card{
    top: -20em;
    left: -4em;
}