<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-jaded-drag-card [cardHeaderText]="'LOGOS'" [cardClasses]="{
            'card':true,
            'description-card':true
        }">
            <div>
                <p class="jaded-para description">
                    I’ve been making Logos freelance for the last 5 years. I love working with clients to bring their brand vision to life.
                    The process of combining typography, colour theory, and incorporating images into an easy to identify logo is such an enjoyable process. 
                </p>
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'SOUP.JPEG'" [cardClasses]="{
            'card':true,
            'soup-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/MBSP.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'QUIVER.JPEG'" [cardClasses]="{
            'card':true,
            'quiver-card':true,
            'base-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/quiver.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'RUBY.JPEG'" [cardClasses]="{
            'card':true,
            'base-card':true,
            'ruby-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/Ruby_Solutions.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'CHOCO.JPEG'"[cardClasses]="{
            'card':true,
            'base-card':true,
            'choco-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/choco.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'WREATH.JPEG'" [cardClasses]="{
            'card':true,
            'base-card':true,
            'wreath-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/wreath.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'PODCAST.JPEG'" [cardClasses]="{
            'card':true,
            'base-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/podcast.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'SNACK.JPEG'" [cardClasses]="{
            'card':true,
            'snack-card':true,
            'base-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/logos/yeg_snacks.png">
            </div>
        </app-jaded-drag-card>
    </div>
</div>
