<div class="row">
    <div class="col-lg-4 col-md-12">
        <app-jaded-drag-card [cardHeaderText]="'ILLUSTRATION'" [cardClasses]="{
            'card':true,
            'description-card':true
        }">
            <div class="description">
                <p>
                    Drawing has been a passion of mine ever since I was old enough to pick up a pencil. My grandma used to tell stories of keeping me busy during warm afternoons with nothing but a pencil and paper.
                    Throughout the years I have done portrait commissions and art pieces for friends and acquaintances.
                    I love to draw faces, their subtle complexities are something I work hard to capture as I practice and improve. 
                </p>
                <p class="jaded-para">
                    Currently most of my work is done on Procreate, on an iPad, but I have had plenty of practice using Photoshop and Illustrator as well.
                </p>
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'WEDDING.JPEG'" [cardClasses]="{
            'card':true,
            'wedding-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/wedding.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'SEANNA.JPEG'" [cardClasses]="{
            'card':true,
            'seanna-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/seanna.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-5 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'MAC_MILLER.JPEG'" [cardClasses]="{
            'card':true,
            'mac-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/Comission_1.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-5 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'ANDI.JPEG'" [cardClasses]="{
            'card':true,
            'andi-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/andi.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'CARTER.JPEG'" [cardClasses]="{
            'card':true,
            'carter-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/carter.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'PORTRAIT.JPEG'" [cardClasses]="{
            'card':true,
            'portrait-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/portrait.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'NICK.JPEG'" [cardClasses]="{
            'card':true,
            'nick-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/illustrations/nick.png">
            </div>
        </app-jaded-drag-card>
    </div>
</div>