/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jaded-border{
    border: 5px solid #E09F94;
    border-radius: 20px;
}

.jaded-background{
    background-color: #F5EEF6;
}