/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%;
    scroll-behavior: smooth; 
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.jaded-border-color,.jaded-border{
    border: 5px solid #E09F94 !important;
}

.jaded-border{
    border-radius: 20px;
}

.jaded-background{
    background-color: #F5EEF6;
}

.jaded-background-hover{
    background-color: green;
}

.jaded-img{
    width:100%;
}

.jaded-text{
    color: #E09F94;
}

.jaded-para{
    margin: 0;
}

.text-container{
    padding: 1em;
}

.drag-container{
    position: static;
}

.card{
    position: relative;
}

.text-container > p{
    font-size: 1.2em;
}

.card-spacing{
    padding-top: 3em;
}

.description{
    padding: 2em;
    font-size: 1.2em;
}

@media (max-width: 1080px) {
    .card{
        position: static;
    }
}