<div [ngClass]="cardClasses" cdkDrag [ngStyle]="customStyles">
    <div #cardHeader class="jaded-card-header-controls" cdkDragHandle>
        <div class="header jaded-text">
            {{cardHeaderText}}
        </div>
        <div class="controls">
            <app-jaded-icon-button>
                <mat-icon>minimize</mat-icon>
            </app-jaded-icon-button>
            <app-jaded-icon-button>
                <mat-icon>crop_square</mat-icon>
            </app-jaded-icon-button>
            <app-jaded-icon-button>
                <mat-icon>close</mat-icon>
            </app-jaded-icon-button>
        </div>
    </div>
    <div class="jaded-card-content">
        <ng-content></ng-content>
    </div>
    <div class="jaded-card-footer" [ngStyle]="footerStyles">
        
    </div>
</div>