.jaded-card-header-controls{
    display: flex;
    flex-direction: row;
    padding:1.5em;
    border-bottom: 5px solid #E09F94;
    align-items: center;
    justify-content: space-between;
}

.jaded-card{
    z-index: 100;
    transform: translate3d(0px, 0px, 0px);
}

.jaded-card-header-controls:hover{
    cursor: move;
}

.jaded-card-content{
    background-color: white;
}

.jaded-card-footer{
    border-top: 5px solid #E09F94;
}

.jaded-card-small{
    width:25%;
}

.jaded-card-medium{
    width:50%;
}

.jaded-card-large{
    width:100%;
}

.controls{
    display: flex;
}

.controls > *{
    margin-right: 5px;
}

@media (max-width: 1080px) {
    .jaded-card-small{
        width:100%;
    }
    
    .jaded-card-medium{
        width:100%;
    }

    .jaded-card{
        width: 100% !important;
    }
}