<div [ngClass]="cardClasses" cdkDrag [ngStyle]="customStyles">
    <div #cardHeader class="jaded-card-header-controls" cdkDragHandle>
        <div class="header jaded-text">
            {{cardHeaderText}}
        </div>
        <div class="controls">
            <app-jaded-icon-button [customStyles]="hovered ? hoveredButtonStyles : {}">
                <mat-icon>minimize</mat-icon>
            </app-jaded-icon-button>
            <app-jaded-icon-button [customStyles]="hovered ? hoveredButtonStyles : {}">
                <mat-icon>crop_square</mat-icon>
            </app-jaded-icon-button>
            <app-jaded-icon-button [customStyles]="hovered ? hoveredButtonStyles : {}">
                <mat-icon>close</mat-icon>
            </app-jaded-icon-button>
        </div>
    </div>
    <div [ngClass]="{
        'jaded-card-content':true,
        'jaded-content-hover':hovered
        }" (click)="linkToPage()" (mouseenter)="enter()" (mouseout)="exit()">
        <ng-content></ng-content>
    </div>
    <div class="jaded-card-footer" [ngStyle]="footerStyles">
        
    </div>
</div>