<div class="row">
    <div class="col-lg-6 col-md-12">
        <app-jaded-drag-card [cardHeaderText]="'POSTERS'" [cardClasses]="{
            'card':true,
            'description-card':true
        }">
            <div>
                <p class="jaded-para description">
                    For two years I worked with a bar and music venue that hosted indie bands weekly.
                    During this time, I owned my own pop up restaurant company operating out of the same space. I created the promotional images for both venues while working as a chef in the evenings during each event.
                </p>
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'LAILA.JPEG'" [cardClasses]="{
            'card':true,
            'laila-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/Band_poster_1.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'POPUP.JPEG'" [cardClasses]="{
            'card':true,
            'fork-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/forkbanner.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'TASMAN.JPEG'" [cardClasses]="{
            'card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/tasman.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'BEARS.JPEG'" [cardClasses]="{
            'card':true,
            'bear-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/bears.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'JORDIE.JPEG'" [cardClasses]="{
            'card':true,
            'jordie-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/jordie.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'MONDAY.JPEG'" [cardClasses]="{
            'card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/meatless_monday.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'SNACK.JPEG'" [cardClasses]="{
            'card':true,
            'cozy-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/cozy-snack.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'SOCKS.JPEG'" [cardClasses]="{
            'card':true,
            'jordie-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/socks.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'HOLIDAY.JPEG'" [cardClasses]="{
            'card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/holiday.png">
            </div>
        </app-jaded-drag-card>
    </div>
    <div class="col-lg-4 col-md-12 card-spacing">
        <app-jaded-drag-card [cardHeaderText]="'RAMEN.JPEG'" [cardClasses]="{
            'card':true,
            'cozy-card':true
        }">
            <div>
                <img class="jaded-img" src="assets/posters/ramen.png">
            </div>
        </app-jaded-drag-card>
    </div>
</div>
